<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Task manager</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="checkmark-done-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-accordion-group *ngFor="let i of categories.categories">
    <ion-row class="ion-justify-content-between">
      <ion-button fill="clear" color="danger" (click)="deleteCategorie(i)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="addTask(i)">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" id="open-modal" (click)="editCategory(i)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-row>
    <ion-accordion>
      <ion-item slot="header">
        <ion-label>{{i.name}}</ion-label>
      </ion-item>
      <div slot="content">
        <ion-list>
          <ion-item *ngFor="let j of i.tasks">
            <ion-label> {{j.name}} </ion-label>
            <ion-button
              fill="clear"
              [color]="j.completed ? 'success' : 'medium'"
              (click)="completeTask(i, j)"
            >
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button 
              fill="clear"
              color="danger"
              (click)="deleteTask(i, j)"
            >
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add" (click)="openModal()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal
    [isOpen]="editing"
    [initialBreakpoint]="0.4"
    [breakpoints]="[0, 1]"
    (willDismiss)="closeModal()"
  >
    <ng-template>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            labelPlacement="floating"
            label="Edit your category"
            [(ngModel)]="editingCategory.name">
          </ion-input>
        </ion-item>
        <ion-button
          (click)="saveEditedCategory()"
          class="ion-margin-top"
          expand="block"
        >SAVE</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal
    [isOpen]="addingTask"
    [initialBreakpoint]="0.4"
    [breakpoints]="[0, 1]"
    (willDismiss)="closeModal()"
  >
    <ng-template>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            
            labelPlacement="floating"
            label="Add a new task"
            [(ngModel)]="task">
          </ion-input>
        </ion-item>
        <ion-button
          (click)="saveTask()"
          class="ion-margin-top"
          expand="block"
        >SAVE</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>